@use "@shared/utilities/animation" as animation;
@use "@shared/utilities/noteLabel" as note-label;
@use "@shared/utilities/path" as path;
@use "@shared/utilities/unitCircle" as unit-circle;


@keyframes move-note-label {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.note-label {
  offset-rotate: 0deg;

  @for $hour from 0 through 11 {
    @for $character-count from 1 through 3 {
      &.hour-#{$hour}-cc-#{$character-count} {
        offset-path: path.still-path(note-label.point($hour, $character-count));
      }
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 1);

    &.move-from-#{$hour-a}-cc-1-to-#{$hour-b}-cc-2 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 1),
        note-label.point($hour-b, 2),
      );
    }

    &.move-from-#{$hour-a}-cc-2-to-#{$hour-b}-cc-3 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 2),
        note-label.point($hour-b, 3),
      );
    }

    &.move-from-#{$hour-a}-cc-3-to-#{$hour-b}-cc-2 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 3),
        note-label.point($hour-b, 2),
      );
    }

    &.move-from-#{$hour-a}-cc-2-to-#{$hour-b}-cc-1 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 2),
        note-label.point($hour-b, 1),
      );
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 5);

    &.move-from-#{$hour-a}-cc-1-to-#{$hour-b}-cc-2 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 1),
        note-label.point($hour-b, 2),
      );
    }

    &.move-from-#{$hour-a}-cc-2-to-#{$hour-b}-cc-3 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 2),
        note-label.point($hour-b, 3),
      );
    }

    &.move-from-#{$hour-a}-cc-3-to-#{$hour-b}-cc-2 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 3),
        note-label.point($hour-b, 2),
      );
    }

    &.move-from-#{$hour-a}-cc-2-to-#{$hour-b}-cc-1 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 2),
        note-label.point($hour-b, 1),
      );
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 7);

    &.move-from-#{$hour-a}-cc-1-to-#{$hour-b}-cc-2 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 1),
        note-label.point($hour-b, 2),
      );
    }

    &.move-from-#{$hour-a}-cc-2-to-#{$hour-b}-cc-3 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 2),
        note-label.point($hour-b, 3),
      );
    }

    &.move-from-#{$hour-a}-cc-3-to-#{$hour-b}-cc-2 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 3),
        note-label.point($hour-b, 2),
      );
    }

    &.move-from-#{$hour-a}-cc-2-to-#{$hour-b}-cc-1 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 2),
        note-label.point($hour-b, 1),
      );
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 11);

    &.move-from-#{$hour-a}-cc-1-to-#{$hour-b}-cc-2 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 1),
        note-label.point($hour-b, 2),
      );
    }

    &.move-from-#{$hour-a}-cc-2-to-#{$hour-b}-cc-3 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 2),
        note-label.point($hour-b, 3),
      );
    }

    &.move-from-#{$hour-a}-cc-3-to-#{$hour-b}-cc-2 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 3),
        note-label.point($hour-b, 2),
      );
    }

    &.move-from-#{$hour-a}-cc-2-to-#{$hour-b}-cc-1 {
      animation: move-note-label animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        note-label.point($hour-a, 2),
        note-label.point($hour-b, 1),
      );
    }
  }
}
