@use "@shared/utilities/animation" as animation;
@use "@shared/utilities/clock" as clock;
@use "@shared/utilities/path" as path;
@use "@shared/utilities/unitCircle" as unit-circle;


@keyframes appear {
  0% {
    fill-opacity: 0;
  }
  60% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

.appear {
  animation: appear animation.$duration linear 1 forwards;
}

.disappear {
  animation: appear animation.$duration linear 1 forwards reverse;
}


@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@mixin ordinary-label($radius) {
  offset-rotate: 0deg;

  @for $hour from 0 through 11 {
    &.hour-#{$hour} {
      offset-path: path.still-path(clock.point($radius, $hour));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 6);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        clock.point($radius, $hour-a),
        clock.point($radius, $hour-b),
      );
    }
  }
}

.ordinary-label {
  &.inside {
    @include ordinary-label(clock.$inside-radius)
  }

  &.outside {
    @include ordinary-label(clock.$outside-radius)
  }
}

.width-1 {
  offset-path: path("M -5 5");
}

.width-2 {
  offset-path: path("M -10 5");
}

.width-3 {
  offset-path: path("M -15 5");
}
