@use "@shared/utilities/animation" as animation;
@use "@shared/utilities/clock" as clock;
@use "@shared/utilities/path" as path;
@use "@shared/utilities/unitCircle" as unit-circle;


@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.rank-spotlight {
  offset-rotate: 0deg;

  @for $hour from 0 through 11 {
    &.hour-#{$hour} {
      offset-path: path.still-path(clock.point(clock.$clock-radius, $hour));
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 1);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.cw-arc-path(clock.$clock-radius, $hour-a, 1);
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 5);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        clock.point(clock.$clock-radius, $hour-a),
        clock.point(clock.$clock-radius, $hour-b)
      );
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 6);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        clock.point(clock.$clock-radius, $hour-a),
        clock.point(clock.$clock-radius, $hour-b)
      );
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 7);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.linear-path(
        clock.point(clock.$clock-radius, $hour-a),
        clock.point(clock.$clock-radius, $hour-b)
      );
    }
  }

  @for $hour-a from 0 through 11 {
    $hour-b: unit-circle.hour($hour-a + 11);

    &.move-from-#{$hour-a}-to-#{$hour-b} {
      animation: move animation.$duration ease-in-out 1 forwards;
      offset-path: path.ccw-arc-path(clock.$clock-radius, $hour-a, 1);
    }
  }
}
