.upper-buttons {
  offset-path: path("M 0 -181");

  .top {
    offset-path: path("M 0 -23");
  }

  .bottom-left {
    offset-path: path("M -26 23");
  }

  .bottom-right {
    offset-path: path("M 26 23");
  }
}

.lower-buttons {
  offset-path: path("M 0 158");

  .top-left {
    offset-path: path("M -26 -23");
  }

  .top-right {
    offset-path: path("M 26 -23");
  }

  .bottom {
    offset-path: path("M 0 23");
  }
}
