@use "@shared/utilities/animation" as animation;
@use "@shared/utilities/position" as position;


.degree-selector {
  offset-path: path("M -26 0");
}

.root-selector {
  offset-path: path("M 26 0");
}

.label {
  offset-path: path("M 0 -115");
  text-anchor: middle;
  font-weight: 500;
}

@keyframes move-selector-inner {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.selector-inner {
  offset-path: path("M 0 5");
  offset-rotate: 0deg;

  &.move-up {
    animation: move-selector-inner animation.$duration ease-in-out 1 forwards;
    offset-path: path("M 0 5 L 0 -25");
  }

  &.move-down {
    animation: move-selector-inner animation.$duration ease-in-out 1 forwards;
    offset-path: path("M 0 5 L 0 35");
  }
}
