@use "sass:map" as map;
@use "sass:math" as math;
@use "@shared/utilities/unitCircle" as unit-circle;
@use "@shared/utilities/path" as path;


$radius: 75;
$x-font-offset: -5;
$y-font-offset: 5;

@function point($hour, $character-count) {
  $x: $radius * unit-circle.x-at($hour) + $character-count * $x-font-offset;
  $y: $radius * unit-circle.y-at($hour) + $y-font-offset;
  @return "#{$x} #{$y}";
}
