$position-spacing: 30;

@function position-still-path($position) {
  $y: $position-spacing * $position;
  @return path("M 0 #{$y}");
}

@function point($position) {
  $y: $position-spacing * $position;
  @return "0 #{$y}";
}
