.header-relative {
  position: relative;
  height: 60px;
  background: linear-gradient(to right, rgb(139, 40, 70), rgb(207, 133, 114));
}

.header-absolute {
  position: absolute;
  bottom: 11px;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 16px;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-title {
  display: block;
  margin-right: auto;
  font-size: 24px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.navigation-link {
  display: block;
  color: rgb(255, 255, 255);
}
